body {
  margin: 0;
  color: white;
  font-family: Arial;
  overflow-x: hidden;
}

$background-url: url("./assets/images/spacebg.jpg");

// the dark background around the top, right and bottom
.bg {
  background-image: $background-url;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.15);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

$cinematic-margin-y: 2vh;
$cinematic-margin-x: 2vw;

main {
  position: absolute;

  top: $cinematic-margin-y;

  background-image: $background-url;
  background-size: cover;
  background-attachment: fixed;

  width: 100vw - $cinematic-margin-x;
  height: 100vh - 2*$cinematic-margin-y;

}



.slide-menu {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  margin: 0px;
  clip-path: polygon(calc(100vw - 600px) 2vh, 98vw 2vh, 98vw 98vh, calc(100vw - 400px) 98vh);
}

.slide-menu-container {
  position: absolute;

  transition: right;
  transition-duration: 600ms;
  right: -400px;

  &.open {
    right: 0px;
  }
}

.slide-menu-bg {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  margin: 0px;
  filter: blur(20px);
  background-image: url(./assets/images/spacebg.jpg);
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(calc(100vw - 600px) 0vh, 100vw 0vh, 100vw 100vh, calc(100vw - 400px) 100vh);
  //clip-path: polygon(calc(100vw - 600px) 2vh, 98vw 2vh, 98vw 98vh, calc(100vw - 400px) 98vh);
  /**   clip-path: polygon(61vw $cinematic-margin-y, (100vw - $cinematic-margin-x) $cinematic-margin-y,
                  (100vw - $cinematic-margin-x) (100vh - $cinematic-margin-y), 61vw (100vh - $cinematic-margin-y)); **/


}

#burger-menu {
  z-index: 2;
  position: absolute;
  right: $cinematic-margin-x;
  top: $cinematic-margin-y;

  width: 100px;
  height: 100px;

  background: yellow;

}






$tabs-nav-width: 100px;
$start-left-xl: 10vw;
$full-width-xl: 100vw - 2*$start-left-xl - $cinematic-margin-x;


nav#tabs {
  width: $full-width-xl;
  position: absolute;
  left: $start-left-xl;
  top: $cinematic-margin-y;
  height: 100vh - 2*$cinematic-margin-y;
  display: flex;
  justify-content: flex-start;
}

.tab-button {
  padding: 20px;
  height: $cinematic-margin-y;
  border-right: 1px solid white;
  transition: flex-grow;
  transition-delay: 0s;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  display: flex;

  margin-bottom: 5px;

  flex-grow: 1;

  text-align: center;

  > leading {
    font-size: 24pt;
  }

  &:hover {
    flex-grow: 2;
    background-color: rgba(100,100,100, 0.1);
  }

  &:nth-child(1) {
    border-left: 1px solid white;
  }

  &.active {
    background-color: rgba(100,100,100, 0.2);
  }
}


.tab {
  position: absolute;
  left: $start-left-xl;
  top: 100px;
  opacity: 0.0;
  //mix-blend-mode: exclusion;
  transform: perspective(800px) rotateX(0deg);
  transform-origin: center bottom;
  z-index:1;
  transition-property: transform, opacity;
  transition-duration: 400ms;

  &.active {
    opacity: 1.0;
    transform: perspective(800px) rotateX(0deg);
    z-index: 9;
    transition-delay: 400ms;
  }

  &.flip-down {
    opacity: 0.0;
    transform: perspective(800px) rotateX(90deg);
  }

}

h1 {
  font-size: 40pt;
}

.hamburger {
  padding: 35px 30px!important;
}



.row {
  padding: 5px;
  position: relative;
  background: black;
  width: $full-width-xl;
  min-height: 30px;
  margin-bottom: 15px;

  > h3 {
    margin: 5px;
  }

  > .body {
    height: 0px;
    transition: height;
    transition-duration: 300ms;
    display: none;
  }

  &.active {
    > .body {
      height: auto;
      display: block;
    }
  }
}
