body {
  background-image: url('./assets/images/spacebg.jpg');
  background-size: cover;
  margin: 0;
  }

#root {
  height: 100vh;
}

$anim-speed: 0.3s;

#tabs {
  width: 100vw;
  height: 100vh;
}

#tab-buttons {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
}

#tab1 {
  width: 100px;
  height: 100px;
  background: red;
  margin-left: 100px;
  position: absolute;
  top: 200px;

  display: block;
  opacity: 0.5;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: $anim-speed;
  transition-delay: 0s;
}


.box {
  background: #cdf;
  width: 200px;
  height: 200px;
  position: fixed;
  overflow: hidden;
}

.box#box-2 {
  left: 220px;
}
.box#box-3 {
  left: 430px;
}

.box > .inner {
  width: 100%;
  position: absolute;
  top: 100%;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

.box.show > .inner {
  top: 0;
  transition: top 2s ease;
}

.box > .inner > .subInner {
  position: relative;
  width: 100%;
  align-self: flex-end;
  background: #f00;
}
