body {
  margin: 0;
  color: white;
}

// the dark background around the top, right and bottom
.bg {
  background-image: url(./assets/images/spacebg.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.15);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

$cinematic-margin-y: 4vh;
$cinematic-margin-x: 2vw;

main {
  position: absolute;

  top: $cinematic-margin-y;

  background-image: url(./assets/images/spacebg.jpg);
  background-size: cover;
  background-attachment: fixed;

  width: 100vw - $cinematic-margin-x;
  height: 100vh - 2*$cinematic-margin-y;

}


// the blurry fuzzy frosted glass trendy thing from the right
.slide-menu-bg {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  margin: 0px;

  padding-top: $cinematic-margin-y;

  text-align: right;

  clip-path: polygon(calc(100vw - 200px) $cinematic-margin-y, (100vw - $cinematic-margin-x) $cinematic-margin-y,
                  (100vw - $cinematic-margin-x) (100vh - $cinematic-margin-y), calc(100vw - 150px) (100vh - $cinematic-margin-y));
}

.blurred {
  filter: blur(20px);
  background-image: url(./assets/images/spacebg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#burger-menu {

  &:checked {
    ~ .slide-menu {
      right: 0
    }
  }
}






$tabs-nav-width: 100px;

nav#tabs {
  position: absolute;
  right: $cinematic-margin-x;
  top: $cinematic-margin-y;
  height: 100vh - 2*$cinematic-margin-y;
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tab-button {
  width: 200px;
  height: $cinematic-margin-y;
  background: rgba(30, 200, 255, 0.1);

  transition: background-color;
  transition-delay: 0s;
  transition-duration: 100ms;
  transition-timing-function: ease-out;

  margin-bottom: 5px;

  text-align: center;
  font-size: 24pt;

  &:hover {
    background-color: rgba(30, 255, 255, 0.2);
  }

  :after {
    background: inherit;
    filter: blur(50px);
  }

  > div {
    padding-left: 20px;
  }

}


.tab {
  position: absolute;
  left: 200px;
  top: 300px;

}

h1 {
  font-size: 40pt;
}
